* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: #e7e7e7b9;
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

.cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #6557bf33;
  background: #fff;
}

.cabecalho .divisao_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.cabecalho .divisao_logo .img_logo {
  width: 1.5rem;
  margin: 0 .25rem 0 0;
}

.cabecalho .divisao_links .links .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cabecalho .divisao_links .links .menu .botao_conquistas {
  border: none;
  background: none;
}

.cabecalho .divisao_links .links .menu .item {
  padding: .75rem;
  text-align: center;
  margin: 0 .25rem;
  border-radius: .5rem;
  cursor: pointer;
  border: 1px solid #6557bf33;
  background: #fff;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.cabecalho .divisao_links .links .menu .item:hover {
  background: #ececec;
}

.cabecalho .divisao_links .links .menu .item .link .icone_link {
  font-size: 1.25rem;
  color: #242424ec;
}

.clicker_upgrades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5rem;
}

.clicker_upgrades .clickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clicker_upgrades .clickers .divisao_coins {
  text-align: center;
  font-weight: bold;
  background: #fff;
  padding: 1rem 8rem;
  border-radius: .5rem;
  border: 1px solid #6557bf33;
}

.clicker_upgrades .clickers .divisao_coins .paragrafo_coins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clicker_upgrades .clickers .divisao_coins .paragrafo_coins .coins {
  font-size: 1.75rem;
}

.clicker_upgrades .clickers .divisao_coins .paragrafo_coins .img_coins {
  width: 2rem;
}

.clicker_upgrades .clickers .divisao_coins .coins_perSecond {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0 .35rem 0 0;
}

.clicker_upgrades .clickers .divisao_coins .texto_perSecond {
  font-weight: 400;
}

.clicker_upgrades .clickers .divisao_mainCoin {
  margin: 1rem 0 0 0;
}

.clicker_upgrades .clickers .divisao_mainCoin .main_coin {
  width: 18rem;
  max-width: auto;
  cursor: pointer;
}

.clicker_upgrades .clickers .divisao_mainCoin .main_coin:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.clicker_upgrades .clickers .divisao_gemas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #6557bf33;
  border-radius: .5rem;
  padding: .5rem 1rem;
  margin: 1.5rem;
}

.clicker_upgrades .clickers .divisao_gemas .divisao_gema {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin: .5rem;
  padding: .5rem;
  border: 1px solid #6557bf33;
  border-radius: .5rem;
  cursor: pointer;
}

.clicker_upgrades .clickers .divisao_gemas .divisao_gema:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.clicker_upgrades .clickers .divisao_gemas .divisao_gema .img_gema {
  width: 2.5rem;
}

.clicker_upgrades .upgrades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35rem;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #6557bf33;
  padding: 1.5rem;
  border-radius: .25rem;
}

.clicker_upgrades .upgrades::-webkit-scrollbar {
  width: 10px;
}

.clicker_upgrades .upgrades::-webkit-scrollbar-thumb {
  background-color: #00000031;
  border-radius: .25rem;
}

.clicker_upgrades .upgrades .upgrade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #fff;
  width: 25rem;
  height: 12rem;
  margin: .5rem;
  border: 1px solid #6557bf33;
  border-radius: .5rem;
}

.clicker_upgrades .upgrades .upgrade .divisao_esquerda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clicker_upgrades .upgrades .upgrade .divisao_esquerda .img_upgrade {
  width: 7rem;
  margin: .25rem;
}

.clicker_upgrades .upgrades .upgrade .divisao_esquerda .quantidade_upgrade {
  padding: 1rem;
  font-weight: bold;
  color: #242424ec;
}

.clicker_upgrades .upgrades .upgrade .divisao_direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clicker_upgrades .upgrades .upgrade .divisao_direita .titulo_upgrade {
  font-weight: bold;
  margin: 0 0 .25rem 0;
}

.clicker_upgrades .upgrades .upgrade .divisao_direita .button_upgrade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #3c34c4;
  background: #3c34c4;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  width: 6rem;
  height: 2.25rem;
  border-radius: .2rem;
  font-size: 1rem;
}

.clicker_upgrades .upgrades .upgrade .divisao_direita .button_upgrade:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.clicker_upgrades .upgrades .upgrade .divisao_direita .button_upgrade .img_coin_upgrade {
  width: 1rem;
  margin: 0 0 0 .15rem;
}

.loja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10rem auto 1rem auto;
  border: 1px solid #6557bf33;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: .5rem;
  padding: 1rem;
}

.loja .recompensa_bau {
  background: #fff;
  width: 22.25rem;
  border: 1px solid #6557bf33;
  border-radius: .5rem;
  text-align: center;
  padding: 1.5rem 1.5rem 1.25rem 1.5rem;
  margin: 1rem;
}

.loja .recompensa_bau .divisao_bau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.loja .recompensa_bau .divisao_bau .img_recompensa {
  width: 6rem;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .nome {
  font-size: .95rem;
  font-weight: bold;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 .5rem 0;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .nome_raridade {
  font-size: .85rem;
  font-weight: 600;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .raridade_comum {
  color: #5a5a5a;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade_comum {
  background: #5a5a5a;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .raridade_incomum {
  color: #00aa4c;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade_incomum {
  background: #00aa4c;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .raridade_rara {
  color: #008ec1;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade_rara {
  background: #008ec1;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .raridade_epica {
  color: #ac00e6;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade_epica {
  background: #ac00e6;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .raridade_lendaria {
  color: #db9e1c;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade_lendaria {
  background: #db9e1c;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .raridade_mitica {
  color: #ffd700;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade_mitica {
  background: #ffd700;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .raridade .indicador_raridade {
  width: .85rem;
  height: .85rem;
  border-radius: 50%;
  margin: 0 0 0 .2rem;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .button_recompensa {
  padding: 0.55rem 1rem;
  font-size: .85rem;
  border: none;
  color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
  background: #3c34c4;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loja .recompensa_bau .divisao_bau .divisao_informacao .button_recompensa .coin_buttonRecompensa {
  width: 1.25rem;
  margin: 0 0 0 .25rem;
}

.loja .recompensa_bau .seta_recompensa {
  text-align: center;
  padding: 1rem 50% 0rem 50%;
  cursor: pointer;
}

.loja .recompensa_bau .divisao_recompensa {
  font-weight: bold;
  opacity: 0;
  max-height: 0;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.loja .recompensa_bau .divisao_recompensa .recompensa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loja .recompensa_bau .divisao_recompensa .recompensa .coin_recompensa {
  width: 1.25rem;
}

.loja .recompensa_bau .divisao_recompensa.recompensaOpen {
  opacity: 1;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin: 1rem 0 0 0;
}

.secao_conquista {
  width: 50rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #fff;
  border-radius: .5rem;
  border: 1px solid #6557bf33;
  -webkit-box-shadow: #63636333 0px 2px 8px 0px;
          box-shadow: #63636333 0px 2px 8px 0px;
  position: fixed;
  top: 50%;
  left: -1000%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .5s;
  transition: .5s;
  padding: 0 0 1rem 0;
}

.secao_conquista .fechar_conquistas {
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.secao_conquista .fechar_conquistas:hover {
  color: #e03131;
}

.secao_conquista .linha_conquista {
  width: 100%;
  height: .1rem;
  background: #f0f1f3;
  position: absolute;
  top: 3.25rem;
}

.secao_conquista .titulo {
  font-size: 1.5rem;
  font-weight: bold;
  margin: .75rem 1rem .75rem 1rem;
  color: #343a40;
}

.secao_conquista .conquistas .conquista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  border-radius: .5rem;
  margin: 1rem 1.5rem 1.5rem 1.5rem;
  -webkit-box-shadow: #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
          box-shadow: #0000001a 0px 1px 3px 0px, #0000000f 0px 1px 2px 0px;
}

.secao_conquista .conquistas .conquista:first-child {
  margin: 2rem 1.5rem 1.5rem 1.5rem;
}

.secao_conquista .conquistas .conquista .divisao_titulo .titulo_conquista {
  font-weight: 700;
}

.secao_conquista .conquistas .conquista .divisao_titulo .subtitulo {
  font-size: .85rem;
  color: #000000cc;
}

.secao_conquista .conquistas .conquista .divisao_recompensa_conquista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secao_conquista .conquistas .conquista .divisao_recompensa_conquista .quantidade_recompensa_conquista {
  margin: 0 .5rem 0 0;
}

.secao_conquista .conquistas .conquista .divisao_recompensa_conquista .img_recompensa_conquista {
  width: 2.5rem;
}

.secao_conquista .conquistas .conquista .divisao_recompensa_conquista .check_conquista {
  font-size: 2rem;
  margin: 0 0 0 .5rem;
  color: #343a40;
}

.secao_conquista.secao_conquistaOpen {
  left: 50%;
}
/*# sourceMappingURL=main.css.map */